<%- include("header") -%>
    <div class="homepage-ui shadow text-center">
        <form action="/login" method="get" class="text-center">
            <button class="form-control shadow ui-btn " type="submit">Login</button>
        </form>
        <br>
        <form action="/signup" method="get" class="text-center">
            <button class="form-control shadow ui-btn " type="submit">Sign-up</button>
        </form>
    </div>

    <%- include("footer") -%>