<%- include("header") -%>

    <h1 class="text-dark">
        <%=err%>
    </h1>

    <form action="/" method="get">
        <button class="form-control shadow ui-btn" type="submit"><%=url%></button>
    </form>
    <%- include("footer") -%>